@import 'tailwindcss';

:root {
  --background: #161314;
  --foreground: #e8e9f3;
  --secondary: #a6a6a8;
  --gradient: #4058e4;
  --sky-blue: #13b3be;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);
  --color-gradient: var(--gradient);
  --color-sky-blue: var(--sky-blue);
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .bg-pattern-x {
    background:
      radial-gradient(circle, transparent 25%, var(--background) 26%),
      linear-gradient(
        45deg,
        transparent 46%,
        #808080 47%,
        #808080 52%,
        transparent 53%
      ),
      linear-gradient(
        135deg,
        transparent 46%,
        #808080 47%,
        #808080 52%,
        transparent 53%
      );
    background-size: 3em 3em;
    background-color: var(--background);
    opacity: 1;
  }
}
